<div class="action-page">
	<div class="header-text">
	<font color="red">HERE'S YOUR
		<span color="red">H</span>
		<font color="blue">O</font>
		<font color="green">L</font>
		<font color="orange">I</font>&nbsp;
		<font color="purple">H</font>
		<font color="brown">A</font>
		<font color="pink">I</font>
	PICTURE! </font>
	</div>
	<div class="avatar">
	</div>
	<div class="action-options">
		<div class="action-option" id="acop-1">
			<a id="download-image-link">
				<%= image_tag("acop1.png", alt: "Action 1", id:"acop1") %>
			</a>	
		</div>
		<div class="action-option" id="acop-2" style="cursor: pointer;">
			<%= image_tag("acop3.png", alt: "Action 2", id:"acop2") %>
		</div>
		<div class="action-option" id="acop-3" style="cursor: pointer;">
			<%= image_tag("acop4.png", alt: "Action 3", id:"acop3") %>
		<div class="post-status"></div>
		</div>
	</div>
	<div class="coupon-area">
		<div class="email-for-coupon">
			<% if @result %>
			<div class="ack-msg">
				<font size="5em">
					Thanks! We will soon mail you your coupons!
				</font>
			</div>
			<% else %>
				<font size="5em">
					<%= form_tag do %>
					<%= label_tag(:email, "Enter email to avail special Holi Coupons:") %>
			  		<%= email_field_tag(:email) %>
			 		<%= submit_tag("Done") %>
			 		<% end %>
			 	</font>
			<% end %>
		</div>
		
	</div>
</div>

<script type="text/javascript">

var avatarImg = localStorage["avatar"];
var blob;
try{
        blob = dataURItoBlob(avatarImg);
		}catch(e){console.log(e);}

function pushRawImageFB(user_id,access_token) {
		var fd = new FormData();
		fd.append("access_token",access_token);
		fd.append("source", blob);
		fd.append("message","Happy Holi!");
		$(".post-status").html("<img src='/assets/fb-post-loader.gif' style='height:10px; width:20px'/>");
		try{
		   $.ajax({
		        url:"https://graph.facebook.com/" + user_id + "/photos?access_token=" + access_token,
		        type:"POST",
		        data:fd,
		        processData:false,
		        contentType:false,
		        cache:false,
		        success:function(data){
		        	alert("Succesfully Posted!")
		        	$(".post-status").html('');
		            console.log("success " + data);
		        },
		        error:function(shr,status,data){
		        	alert("Cannot Post, Try again!")
		            console.log("error " + data + " Status " + shr.status);
		        },
		        complete:function(){
		            console.log("Ajax Complete");
		        }
		    });

		}catch(e){console.log(e);}
}

function dataURItoBlob(dataURI) {
    // convert base64 to raw binary data held in a string
    // doesn't handle URLEncoded DataURIs
    console.log(dataURI);
    var byteString = window.atob(dataURI.replace('data:image/png;base64,',''));
    console.log(dataURI);

    // separate out the mime component
    // write the bytes of the string to an ArrayBuffer
    //var ab = new ArrayBuffer(byteString.length);
    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }

    // write the ArrayBuffer to a blob, and you're done
    var blob = new Blob([ia], { type: 'image/png' });

    return blob;
}

$(".avatar").append("<img src='"+avatarImg+"' id='avatar-image'/>");
$("#download-image-link").prop("href",avatarImg);
$("#download-image-link").prop("download","holi-avatar.png");
$(".action-option").click(function(){
	var choice = $(this).attr("id").split("-")[1];
	if(0){
		console.log("hey");
		var albumID;
		 FB.api('/me/albums/?fields=name', function(response) {
		 	if(response && !response.error){
		 	var albumArr = response["data"];
		 	for(var i=0; i<albumArr.length; i++){
		 		if(albumArr[i]["name"]=="Timeline Photos"){
		 			albumID=albumArr[i]["id"];
		 			break;
		 		}
		 	}
		 	
		 	FB.api('/'+albumID+'/photos', 'post', {
	        message:'Happy Holi from Tangerine!',
	        source:blob        
		    }, function(response){
		        if (!response || response.error) {
		            alert('Error occured'+JSON.stringify(response.error))	;
		        } else {
		            alert('Post ID: ' + response.id);
		        }
		    });
		 }
		 else{
		 	alert(JSON.stringify(response.error));
		 }
	});
	}
	if(choice==2){
		FB.ui({method: 'apprequests',
			title: "Holi Hai!",
			display: "popup",	
		  message: "Let's Play Holi the virtual way!"
		}, function(response){
			if (!response || response.error)
                {
                    alert('ERROR - Please Try Again!');
                }
                else
                {
                	alert("Request Sent!")
                }
		});
	}
	if(choice==3){
		console.log("Here 1");
		
		// FB.login(function(response) {
		// 	console.log("here 2");
		// 	console.log("error="+response.error);
		//       if (response.session) {
		//       	console.log("here 3");
		//         //user is logged in, reload page
		//         pushRawImageFB(response.authResponse.userID, response.authResponse.accessToken);
		//       } else {
		//       		console.log("here 4");
		//         // user is not logged in
		//         pushRawImageFB(response.authResponse.userID, response.authResponse.accessToken);
		//       }
		//   }, {scope:'publish_stream, user_photos'});

			 FB.login(function(response) {
			   if (response.authResponse) {
			     console.log('Welcome!  Fetching your information.... ');
			     pushRawImageFB(response.authResponse.userID, response.authResponse.accessToken);
			     // FB.api('/me', function(response) {
			     //   console.log('Good to see you, ' + response.name + '.');
			     // });
			   } else {
			     console.log('User cancelled login or did not fully authorize.');
			   }
			 });

	}
	
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-49009524-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
